body {
	background-color:lightgrey;
}
p {
	position:absolute;
}
.Button_1 {
	background-color:grey;
	min-height:96px;
	min-width:196px;
	max-height:96px;
	max-width:196px;
	font-size:30px;
	margin-top:20px;
	position:absolute;
	border-style:solid;
	border-width:2px;
	border-color:black;
	vertical-align:middle;
}
.Pamat_Texts_1 {
	min-height:490px;
	min-width:990px;
	max-height:490px;
	max-width:990px;
	border-style:solid;
	border-width:5px;
	border-color:black;
	vertical-align:middle;
	position:absolute;
	margin-left:100px;
	margin-top:150px;
	background-color:white;
}